@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}


body{
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;  
}


button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: #1f1f1f;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    color: #3ebcff;
}
#root{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    background-color: #1f1f1f;
    justify-content: space-between;
}
.header_pages{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.header h2{
    color: #fff;
    justify-self: flex-end;
    align-self: center;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}
.header h2:hover{
    color: #3ebcff;
}
.header_element{
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}
.header_element:hover{
    color: #3ebcff;
}
.header_element h1{
    font-size: 24px;
}
.header_element_choosed{
    border-bottom: 3px solid #3ebcff;
    color: #3ebcff
}
.CardCont{
    padding: 30px;
    
}
.CardCont h2{
    border-bottom: #979797 1px solid;
    padding: 10px 0;
}
.CardCont form{
    
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.description_label{ 
    font-size: 14px;
}
.page{
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.AuthCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.AuthinCard{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
}
.AuthinCard h2{
    margin: 0;
    align-self: center;
}
.AuthinCard input{
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;  
}
.AuthinCard button{
    align-self: flex-end;
}
.AuthinCard div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.error_div{
    display: flex;
    align-items: start;
    flex-direction: column !important;
    background-color: #ffdada;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    ;
}
.error_div h3{
    color: #ff4c4c;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.error_div h4{
    color: #ff4c4c;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.error_margin{
    margin: 15px auto 0 auto;
}
.info_div{
    display: flex;
    align-items: start;
    flex-direction: column !important;
    background-color: #deffda;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    ;
}
.info_div h3{
    color: #1f1f1f;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.info_div h4{
    color: #1f1f1f;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.info_margin{
    margin: 15px auto 0 auto;
}

#username_in_change_pass{
    display: none;   
    /* This needed for browsers pass auto save becouse I lazy */
}
.menu-button{
    color: #fff;
    font-size: 35px;
    display: none;
    justify-content: baseline;
    align-items: center;
}
@media (max-width: 700px) {
    .header_pages {
      display: none;
    }
    .menu-button{
        display: flex;
    }
}
@media (min-width: 700px) {
    .small_header{
        display: none;
    }
}
.small_header{
    display: none;
    flex-direction: column;
    padding: 15px 0;
    border-top: solid 1px #2a2a2a;
    background-color: #1f1f1f;
    justify-content: space-between;
}


.small_header_element{
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}
.small_header_element:hover{
    color: #3ebcff;
}
.small_header_element h1{
    font-size: 20px;
}
.small_header_element_choosed{
    border-left: 3px solid #3ebcff;
    color: #3ebcff
}