@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}


body{
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;  
}


button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: #1f1f1f;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    color: #3ebcff;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    background-color: #1f1f1f;
}
.header_element{
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}
.header_element:hover{
    color: #3ebcff;
}
.header_element h1{
    font-size: 24px;
}
.header_element_choosed{
    border-bottom: 3px solid #3ebcff;
    color: #3ebcff
}
.CardCont{
    padding: 30px;
    
}
.CardCont h2{
    border-bottom: #979797 1px solid;
    padding: 10px 0;
}
.CardCont form{
    
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.description_label{ 
    font-size: 14px;
}
.page{
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.AuthCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.AuthinCard{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
}
.AuthinCard h2{
    margin: 0;
    align-self: center;
}
.AuthinCard input{
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;  
}
.AuthinCard button{
    align-self: flex-end;
}
.AuthinCard div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}